.container {
  display: flex;
  flex-direction: row;
}

.form {
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poster {
  height: 100vh;
  width: 70%;
}

.google-btn {
  height: 40px;
  width: 50%;
  border-radius: 5px;
  border: none;
  margin-bottom: 5%;
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  background-color: #4285f4;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.google-btn img {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  background-color: white;
  padding: 5px;
}

.google-btn:hover {
  background-color: #357ae8;
}

.guest-btn {
  height: 40px;
  width: 50%;
  border-radius: 5px;
  border: none;

  margin-top: 5%;
  background-color: rgb(125, 101, 140);
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.form p {
  font-size: 22px;
  color: rgb(136, 134, 134);
}

@media only screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .poster {
    height: 100vh;
    width: 100%;
  }

  .form {
    z-index: 2;
    width: 100%;
    margin-top: -30%;
  }

  .form p {
    color: white;
  }
}

@media only screen and (max-width: 540px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .poster {
    height: 100vh;
    width: 100%;
  }

  .form {
    z-index: 2;
    width: 100%;
    margin-top: -45%;
  }

  .form p {
    color: white;
  }

  .google-btn,
  .guest-btn {
    width: 70%;
  }
}
