.container {
  height: 90px;
  width: 100px;
  border: 1px solid rgb(243, 239, 239);
  border-radius: 15px;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: white;
}

.container img {
  height: 45px;
  width: 45px;
}

.container p {
  margin-top: 10px;
}

@media only screen and (max-width: 540px) {
  .container {
    border: none;
  }
}
