.container {
  display: flex;
  flex-direction: column;
}

.filter {
  height: 50vh;
  background-color: #fc3b5f;
  clip-path: polygon(0% 100%, 100% 75%, 100% 0%, 0% 0%);
}

.add-hotel {
  width: 10%;
  margin: 20px 0 0 15% !important;
  background-color: black !important;
  border-radius: 10px !important;
}

.hotelImage {
  height: 100%;
  width: 100%;
  clip-path: polygon(0% 100%, 100% 75%, 100% 0%, 0% 0%);
}

.progressbar {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
