.container {
  height: 10vh;
  /* background-color: #fc3b5f; */
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container p {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: 0 0 0 5%;
}

.logo {
  height: 10vh;
  width: 45%;
  background-color: #fc3b5f;

  display: flex;
  /* justify-content: center; */
  align-items: center;

  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.add-hotel-btn {
  width: 170px;
  margin: 0 5% 0 0 !important;
  background-color: black !important;
  border-radius: 10px !important;
  font-size: 13px;
}
