.container {
  height: 10vh;
  /* background-color: #fc3b5f; */
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container p {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: 0 0 0 5%;
}

.logo {
  height: 10vh;
  width: 45%;
  background-color: #fc3b5f;

  display: flex;
  /* justify-content: center; */
  align-items: center;

  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.add-hotel-btn {
  width: 220px;
  margin: 0 5% 0 0 !important;
  background-color: black !important;
  border-radius: 10px !important;
  font-size: 13px;
  font-weight: normal !important;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logout {
  margin-left: 5%;
  margin-right: 5%;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.add-hotel-btn-disabled {
  background-color: grey;
  height: 30px;
  width: 190px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  margin: 0 5% 0 0;
  color: white;
}

.sigin-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.sigin-options p {
  color: grey;
  font-size: 15px;
  font-weight: 500;
  width: 90px;
  cursor: pointer;
}
